@font-face {
    font-family: unify-sans-regular;
    src: url(../assets/fonts/unify-sans/UnifySans-Regular.ttf);
}

@font-face {
    font-family: unify-sans-semiBold;
    src: url(../assets/fonts/unify-sans/UnifySans-Semibold.ttf);
}

@font-face {
    font-family: unify-sans-bold;
    src: url(../assets/fonts/unify-sans/UnifySans-Bold.ttf);
}

@font-face {
    font-family: georgia-pro-light;
    src: url(../assets/fonts/georgia-pro/GeorgiaPro-CondRegular.ttf);
}


html {
    font-family: unify-sans-semiBold;
    font-size: 14px;
    color: #303030;
}

body, h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

.main-layout {
    display: grid;
    grid-template-columns: 1fr 980px 1fr;
}


.img-container {
    width: 220px;
    height: 200px;
    margin-bottom: 5px;
}

img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.site-content, .ad-container {
    grid-column: 2;

}

.site-content .title {
    font-family: unify-sans-bold;
    font-size: 36px;
    margin-bottom: 12px;
}


.site-content .publisher {
    font-family: unify-sans-bold;
    font-size: 16px;
}

.site-content .content {
    font-family: georgia-pro-light;
    font-size: 18px;
    line-height: 27px;
    overflow-wrap: break-word;
}


#widgets {
    grid-column: 2;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(210px, 1fr));
    gap: 16px;
}

.widget {
    width: 220px;
    cursor: pointer;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
}

.article-title {
    margin-bottom: 6px;
}

.widget:hover .article-title {
    text-decoration: underline;
}

.widget .sponser-name {
    /* font-family: unify-sans-regular; */
    font-size: 12px;
    color: #626262;
}